{% extends 'base.html' %}
{% block body %}
<script type="text/javascript">
			$(document).ready(function() {
    				$('#example').DataTable();
			} );

</script>
{% if items_list %}
<table id="example" class="table table-bordered display" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items_list %}
    <tr>
        <td>{{ item.item_id }}</td>
        <td><a href="{% url 'Inventory:details' item.item_id %}">{{ item.name }}</a></td>
        <td>{{ item.category.category }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.value }}</td>
        <td>
            <form action="{% url 'Inventory:item-delete' item.item_id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.item_id }}"/>
                <button type="submit" class="btn btn-default btn-sm">
                  Delete
                </button>
            </form>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No details are available.</p>
{% endif %}
{% endblock %}